$def with (title, msg='', year='', month='', day='', hour='' )

$:render.header(title)

<h3>Experiment registration</h3>

<span style='color:#FF0000'>
<h2>
$:msg
</h2>
</span>

<FORM action=/exp_reg method=POST>

    <table id="login" cellspacing=8>
        <tr>
            <td>Project name: </td>
            <td>
		<input type=text name='project' size=40>
	    </td>
        </tr>
        <tr>
            <td>Start Datetime: </td>
            <td>
		Year <input type=text name='year' value=$year size=3>
		Month <input type=text name='month' value=$month size=2>
		Day <input type=text name='day' value=$day size=2>
		Hour <input type=text name='hour' value=$hour size=2>
	    </td>
        </tr>

        <tr>
            <td>Measurement time: </td>
            <td><input type=text name='h_scan' value=20 size=5> hours</td>
        </tr>

        <tr>
            <td>Culture medium: </td>
            <td><input type=text name='medium' value=LB size=20></td>
        </tr>


	<tr>
            <td>Condition&Plates:</td>
            <td><textarea name="text_setting" cols="80" rows="14" ></textarea></td>
            <td><pre>
書き方) 条件名1=値1|条件名2=値2...:plate ids（カンマ区切り）

例)DKOの場合:
Hfr=folD:4,5,6
Hfr=dnaK:4,5,6,4,5,6
...

例)DKOで接合時間を変えた場合
Hfr=folD|mating=20h:4,5,6
...

Plate ID: 1,2,3: Keio rearray release1 1536 format 
	  4,5,6: Keio rearray release2 1536 format 
	    </pre></td>
        </tr>
	

        <tr>
	    <td>note:</td>
            <td><textarea name="note" cols="80" rows="10" ></textarea></td>
            <td>自由に書きこんでよい</td>
        </tr>
    </table>
    <br>

    <td><input type=submit name=submit value=submit></td>

</form>

$:render.footer()

