$def with (title, msg='', year='', month='', day='', hour='' )

$:render.header(title)

<h2>Experiment registration</h2>

$:msg

<FORM action=/exp_reg method=POST>
-----------------------------------------------------<br>
Singule value<br>
-----------------------------------------------------<br>

    <table id="login" cellspacing=8>
        <tr>
            <td>Project name: </td>
            <td>
		<input type=text name='project' size=40>
	    </td>
        </tr>
        <tr>
            <td>Start Datetime: </td>
            <td>
		Year <input type=text name='year' value=$year size=3>
		Month <input type=text name='month' value=$month size=2>
		Day <input type=text name='day' value=$day size=2>
		Hour <input type=text name='hour' value=$hour size=2>
	    </td>
        </tr>

        <tr>
            <td>Measurement time: </td>
            <td><input type=text name='h_scan' value=20 size=5> hours</td>
        </tr>

        <tr>
            <td>Culture medium: </td>
            <td><input type=text name='medium' value=LB size=20></td>
        </tr>
    </table>

-----------------------------------------------------<br>
Multiple values; <b>comma separation</b><br>
-----------------------------------------------------<br>
    <table id="login" cellspacing=8>
        <tr>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td>e.g. 1,2,3,1,2,3</td>
        </tr>
        <tr>
            <td colspan="2">
		Plate (require): 
	    </td>
	    <td>PlateIDs</td>
            <td>
		<input type=text name='plate_ids' size=100>
	    </td>

        </tr>
	<tr>
	    <td rowspan="3">
		Condition: <br>
	        (option)
	    </td>
            <td>Key1 <input type=text name='key1', size=10></td>
            <td>Values</td>
	    <td><input type=text name='values1' size=100></td>
        </tr>
        <tr>
            <td>Key2 <input type=text name='key2', size=10></td>
            <td>Values</td>
            <td><input type=text name='values2' size=100></td>
        </tr>
        <tr>
            <td>Key3 <input type=text name='key3', size=10></td>
            <td>Values</td>
            <td><input type=text name='values3' size=100></td>
        </tr>
    </table>
    Plate_ids and Values (should correspond to plate_ids)
    <br>

    <td><input type=submit name=submit value=submit></td>
</form>

$:render.footer()
